.navigation{
    float: left;
    height: 100%;
}
 
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 30px 100px;
    background-color: #101010;
}
 
.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 30px;
    color: white;
}
 
.navigation a:hover{
    background-color: gray;
    color: #101010;
}

.hobby{
  padding-right: 1000px;
  padding-top: 100px;
}